backend/log/
backend/config/.env.private
backend/public/images/
backend/public/videos/
backend/public/nextjs/
backend/vendor/

frontend/node_modules/
frontend/.next/
frontend/out/

sse/node_modules
sse/dist
