php/log/
php/config/.env.private
php/public/images/
php/public/videos/
php/public/nextjs/
php/vendor/

nextjs/node_modules/
nextjs/.next/
nextjs/out/

nodejs/node_modules/
nodejs/dist/
nodejs/log/

mysql-variables.env

mysql/data/


